*{
    margin: 0;
    padding: 0;
}

header{
    background-color: springgreen;
    position: fixed;
    width: 100%;
    height: 200px;
    top: 0;
    border: 2px solid black;

}

header > img{
    Height: 90%;
    margin-left: 2%;
    float: left;
    border: 2px solid black;
    padding-left: 3%;
    padding-right: 3%;
}

header > h1{
    text-align: center;
    display: block;
    position:relative;
    border: 2px solid black;
    width: 50%;
    height: 20%;
    margin-left: auto;
    margin-right:auto; 
    margin-top: 50px;
    padding: 2%;

}

#portrait{
    display: block;
    width: 500px;
    height: 500px;
    object-fit: cover;
    margin: auto;
    border: 2px solid black;
}
main{
    margin-top: 210px;
}
.photoDiscription{
    width: 60%;
    margin: auto;
}
.photoDiscription > p{
    text-align: center;
    margin: 2%;
}
.content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10%;
}
.card{
    width: 30%;
    flex: 1;
    margin: 2%;
    border: 2px solid black;
}
.card > img{
    width: 30%;
}